
   <c-navbar class="bg-dark" colorScheme="dark" class="bg-primary" expand="md" >
  <c-container fluid>
    <a cNavbarBrand href="https://coreui.io/angular/" target="_blank">
      <img src="../../../assets/download.png" alt="img" width="25" height="24" style="background-color: transparent;">
    </a>
    <form cForm class="d-flex" role="search">
      <input aria-label="Search" cFormControl class="me-2" placeholder="Search" type="search" (click)="myFunc()">
      
      <button [cNavbarToggler] cOffcanvasToggle="OffcanvasSidebar"></button>
    <c-offcanvas
      placement="end"
      id="OffcanvasSidebar"
    >
      <c-offcanvas-header>
        <h5 cOffcanvasTitle>Offcanvas</h5>
        <button
          cButtonClose
          class="text-reset"
          cOffcanvasToggle="OffcanvasSidebar"
          aria-label="Close"
        ></button>
      </c-offcanvas-header>
      <c-offcanvas-body>
        <c-navbar-nav>
          <c-nav-item>
            <button class="btn btn-light button"  routerLink="/list" >Employees</button>
          </c-nav-item>
          <c-nav-item>
            <button class="btn btn-light button"  routerLink="/login">Login</button>
          </c-nav-item>
          
         
        </c-navbar-nav>
        
      </c-offcanvas-body>
    </c-offcanvas>
    </form>
  </c-container>
</c-navbar>

<img src="../../assets/design.png"  alt="img" class="img-fluid" width="100%">